// 
// _footer.scss
// 

.footer {
    bottom: 0;
    padding: 20px calc(#{$grid-gutter-width} / 2);
    position: relative; /* Ganti 'absolute' menjadi 'relative' agar mengalir di bawah konten */
    width: 100%;
    color: $footer-color;
    background-color: $footer-bg;
    height: 60px; /* Sesuaikan tinggi */
    
    /* Hapus properti left/right/z-index jika tidak perlu */
    }
  
// Enlarge menu
body[data-sidebar-size="sm"] {
    .footer {
        left: $sidebar-collapsed-width;

        @media (max-width: 991.98px) {
            left: 0;
        }
    }
}

body[data-layout="horizontal"] {
    .footer {
        left: 0 !important;
    }  
}
